<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityMod – Review</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/send_review.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <!-- Навигация - Репорты -->
    <nav class="navbar">
        <a href="/send_review">Send Review</a>
        <a href="/send_bug_report">Send Bug Report</a>
        <a href="/send_offer">Send Offer</a>
    </nav>

    <!-- Навигация - Контент -->
    <nav class="contentbar">
        <a href="/mods">Mods</a>
        <a href="/maps">Maps</a>
        <a href="/other_content">Other Content</a>
    </nav>

    <!-- Название -->
    <nav class="namebar">
        <a href="/">CityMod - Review</a>
    </nav>

    <!-- Контакты -->
    <p class="contacts">Contacts - citymodz@yandex.com</p>

    <!-- Светило -->
    <nav class="orb">
        <button id="toggleThemeButton" style="width: 100%; height: 100%; background: none; border: none; cursor: pointer;"></button>
        <img src="static/images/sun.png" alt="Sun">
    </nav>
    <!-- Слои изображений -->
    <div class="background-layers">
        <img src="static/images/sky.png" alt="sky" id="backgroundSky" class="background-layer">
        <img src="static/images/gray_city.png" alt="gray_city" id="backgroundGrayCity" class="background-layer ">
        <img src="static/images/black_city.png" alt="black_city" class="background-layer">
    </div>
    <script src="{{ url_for('static', filename='js/change_theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scale_control.js') }}"></script>

    <form id="reviewForm" class="inputform">
        <h1>Leave your review</h1>
        <textarea name="review" placeholder="..." maxlength="1024" required></textarea>
        <button type="submit">Отправить</button>
    </form>    
    <script>
        const form = document.getElementById("reviewForm");
    
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
    
            const formData = new FormData(form);
            const data = Object.fromEntries(formData);
    
            const response = await fetch('/send_review', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
    
            if (response.ok) {
                alert("The review has been sent successfully!");
            } else {
                alert("The review has not been sent.");
            }
        });
    </script>
</body>
</html>
