<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityMod – Bug Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/send_bug_report.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <!-- Навигация - Репорты -->
    <nav class="navbar">
        <a href="/send_review">Send Review</a>
        <a href="/send_bug_report">Send Bug Report</a>
        <a href="/send_offer">Send Offer</a>
    </nav>

    <!-- Навигация - Контент -->
    <nav class="contentbar">
        <a href="/mods">Mods</a>
        <a href="/maps">Maps</a>
        <a href="/other_content">Other Content</a>
    </nav>

    <!-- Название -->
    <nav class="namebar">
        <a href="/">CityMod - Report</a>
    </nav>

    <!-- Контакты -->
    <p class="contacts">Contacts - citymodz@yandex.com</p>

    <!-- Светило -->
    <nav class="orb">
        <button id="toggleThemeButton" style="width: 100%; height: 100%; background: none; border: none; cursor: pointer;"></button>
        <img src="static/images/sun.png" alt="Sun">
    </nav>
    <!-- Слои изображений -->
    <div class="background-layers">
        <img src="static/images/sky.png" alt="sky" id="backgroundSky" class="background-layer">
        <img src="static/images/gray_city.png" alt="gray_city" id="backgroundGrayCity" class="background-layer ">
        <img src="static/images/black_city.png" alt="black_city" class="background-layer">
    </div>
    <script src="{{ url_for('static', filename='js/change_theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scale_control.js') }}"></script>

    <form id="bugReportForm" class="inputform" method="POST">
        <h1>Leave your bug report</h1>
        <textarea name="bugReport" id="bugReport" placeholder="..." maxlength="1024" required></textarea>     
        <button type="button" id="openFileMenuButton">Загрузить файл</button>
    
        {% include 'addons/file_upload_menu.html' %}
    
        <button type="submit">Отправить</button>
    </form>
    <script>
        const openFileMenuButton = document.getElementById("openFileMenuButton");
        const fileMenu = document.getElementById("fileMenu");
    
        openFileMenuButton.addEventListener("click", () => {
            fileMenu.style.display = fileMenu.style.display === "none" ? "block" : "none";
        });
    
        const form = document.getElementById("bugReportForm");
    
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
    
            const bugReport = document.getElementById("bugReport").value;
            const fileName = document.getElementById("fileName").value;
            const fileInfo = document.getElementById("fileInfo").value;
            const fileInput = document.getElementById("file");
    
            const formData = new FormData();
            formData.append("bugReport", bugReport);
            formData.append("fileName", fileName);
            formData.append("fileInfo", fileInfo);
            formData.append("file", fileInput.files[0]);
    
            try {
                const response = await fetch("/send_bug_report", {
                    method: "POST",
                    body: formData,
                });
    
                if (!response.ok) {
                    throw new Error("Ошибка при загрузке файла.");
                }
    
                const data = await response.json();
    
                alert("The Bug Report has been sent successfully!");
    
                fileMenu.style.display = "none";
            } catch (error) {
                alert(error.message);
            }
        });
    </script>    
</body>
</html>
