.loginform {
    position: absolute; /* Позволяет точно задавать расположение */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвиг для точного центрирования */
    width: 400px; /* Ширина окна */
    padding: 20px; /* Внутренние отступы */
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    /* border-radius: 12px; */
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.8); /* Легкая тень для объема */
    z-index: 13; /* Уровень слоя */
}

/* Дополнительные стили для элементов внутри формы */
.loginform input {
    width: 100%; /* Ширина на всю форму */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 15px; /* Отступ между элементами */
    border: 1px solid #ccc; /* Граница полей ввода */
    /* border-radius: 6px; */
    font-size: 16px; /* Размер шрифта */
}

.loginform button {
    width: 100%; /* Кнопка на всю ширину формы */
    padding: 10px; /* Внутренние отступы */
    background-color: #4CAF50; /* Зеленый цвет кнопки */
    color: white; /* Белый текст */
    border: none; /* Без границ */
    /* border-radius: 6px; */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
}

.loginform button:hover {
    background-color: #45a049; /* Темнее при наведении */
}
