.maps-container {
    max-width: 800px;
    max-height: 800px;
    position: relative;
    top: 120px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff98;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Для Firefox */
    z-index: 4;
}

body.night-theme .maps-container {
    background-color: #282828b9;
}

.maps-container::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari и других браузеров на базе Webkit */
}

.maps-container h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #000000;
}

body.night-theme .maps-container h1 {
    color: #ffffff;
}

.map-card {
    background: #f1f1f1;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    border-left: 4px solid #0066cc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    z-index: 5;
}

body.night-theme .map-card {
    background: #3b3b3baa;
}

.map-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.map-card h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

body.night-theme .map-card h2 {
    color: #dededeea;
}

.map-card h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #5d1f1f;
}

body.night-theme .map-card h3 {
    color: #9e2121;
}

.map-card p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #2c2c2c;
}

body.night-theme .map-card p {
    color: #d2d2d2;
}

.map-card img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.map-card a {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    background-color: #0066cc;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.map-card a:hover {
    background-color: #004b99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.map-card button {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    background-color: #0066cc;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.map-card button:hover {
    background-color: #004b99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}